{% extends 'base.html' %}

{% block content %}
  <div class="content">
  <div class="comments">
  <a href="{% url 'msgboard:index' %}">Home</a>
  <h1>{{ msg.title }}</h1>
    <p class="date">{{ msg.pub_date }} </p>
    <p class="author">{{ msg.user }}</p>
    <p class="msg_content">{{ msg.content }}</p>
  <br>
  {% for comment in msg.comment_set.all %}
    <p>B{{ comment.id }}</p>
    <p class="date">{{ comment.pub_date }} </p>
    <p class="author">{{ comment.user }}</p>
    	<p class="msg_content">{{ comment.content }}</p>
  	<br>
	{% endfor %}
  </div>
  <form class="comment-form" action="{% url 'msgboard:comment' msg.id %}" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name">
    </fieldset>
    <fieldset class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" name="content"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary active">Comment</button>
  </form>
  </div>
{% endblock %}
