{% extends 'base.html' %}
{% load form_filters %}

{% block content %}
  <div class="messages">
  {% for msg in msg_list %}
    <a href="{% url 'msgboard:detail' msg.id %}"><h1>{{ msg.title }}</h1></a>
      <p class="date">{{ msg.pub_date }}</p>
      <p class="author">{{ msg.user }}</p>
      {% autoescape off %}
      <p class="msg_content">{{ msg.content }}</p>
      {% endautoescape %}
    <br>
	{% endfor %}
  </div>
  {% if request.user.is_authenticated %}
  <form class="post-form" action="post/" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <label for="title">Title:</label>
      {{ msg_form.title|add_class:"form-control" }}
    </fieldset>
    <fieldset class="form-group">
      <label for="content">Content:</label>
      {{ msg_form.content|add_class:"form-control" }}
    </fieldset>
    <button type="submit" class="btn btn-primary active">POST</button>
  </form>
  {% endif %}
{% endblock %}
