{% extends 'base.html' %}

{% block content %}
<div align="center">
  <form action="post/" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
      <label for="name">Name</label>
      <input type="text" class="form-control" name="name">
    </fieldset>
    <fieldset class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title">
    </fieldset>
    <fieldset class="form-group">
      <label for="content">Content</label>
      <textarea class="form-control" name="content"></textarea>
    </fieldset>
    <button type="submit" class="btn btn-primary active">POST</button>
  </form>
  {% for msg in msg_list %}
    <a href="{% url 'msgboard:detail' msg.id %}"><h1>{{ msg.title }}</h1></a>
      <p>{{ msg.user }}<br>{{ msg.pub_date }}</p>
      <p>{{ msg.content }}</p>
    <br>
	{% endfor %}
</div>
{% endblock %}
